# Venture Funding with Deep Learning

We are creating a model that predicts whether applicants will be successful if funded by Alphabet Soup.
Using machine learning and neural networks, we decided to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business based on the data provided.

## How we do it:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that we can use it to compile and evaluate the neural network model later.

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define our features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, we will employ the Pandas `concat()` function. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that our model will contain or the number of neurons on each layer. Then, compile and fit our model. Finally, evaluate our binary classification model to calculate the model’s loss and accuracy. 
 
To do so, do the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using TensorFlow and Keras, optimize our model to improve the model's accuracy.

To do so, do the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try improving first model’s predictive accuracy by try implementing below:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing our models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of our models as an HDF5 file.

In [57]:
# Imports
import pandas as pd
import tensorflow as tf
import numpy as np
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define our features and target variables.

In [58]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (1).csv

In [59]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")
# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [60]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [61]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [62]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [63]:
# Create a OneHotEncoder instance
enc = enc = OneHotEncoder(sparse=False)

In [64]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [65]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns= enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> We will employ the Pandas `concat()` function.

In [66]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = encoded_df = pd.concat(
    [
        applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]],
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [67]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [68]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns="IS_SUCCESSFUL")

# Review the features DataFrame
X[:5]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Split the features and target sets into training and testing datasets.

In [69]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Use scikit-learn's `StandardScaler` to scale the features data.

In [70]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

In [71]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [72]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [73]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features+number_output_neurons) //2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [74]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1+number_output_neurons) //2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [75]:
# Create the Sequential model instance
nn = Sequential()

In [76]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [77]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu"))

In [78]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(1, activation="sigmoid"))

In [79]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 58)                6786

 dense_10 (Dense)            (None, 29)                1711

 dense_11 (Dense)            (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [80]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [81]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5749 - accuracy: 0.7189
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7296
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7306
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7306
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7327
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7333
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7342
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7349
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7344
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7353
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7346
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7356
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7365
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7365
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7373
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7381
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7372
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7380
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7376
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7380
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7383
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7383
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7386
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7391
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7389
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7388
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7401
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7395
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7401
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7408
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7398
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7405
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7404
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7403
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7395
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7391
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7404
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7398
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7401
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7404
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7409
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7393
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7410
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7408
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7403
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7412
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7411

### Evaluate the model using the test data to determine the model’s loss and accuracy.

In [82]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5515 - accuracy: 0.7300 - 494ms/epoch - 2ms/step
Loss: 0.5515128374099731, Accuracy: 0.7300291657447815

### Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [83]:
# Set the model's file path
file_path ="AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> Perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize our model for a predictive accuracy as close to 1 as possible, we can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [84]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [85]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 10

In [86]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features+number_output_neurons_A1) //2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

63

In [87]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [88]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid"))


# Output layer
nn_A1.add(Dense(1, activation="relu"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 58)                6786

 dense_13 (Dense)            (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [89]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [90]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
804/804 [==============================] - 2s 2ms/step - loss: 1.1645 - accuracy: 0.6457
Epoch 2/75
804/804 [==============================] - 2s 2ms/step - loss: 0.7843 - accuracy: 0.7062
Epoch 3/75
804/804 [==============================] - 2s 2ms/step - loss: 1.2695 - accuracy: 0.6490
Epoch 4/75
804/804 [==============================] - 2s 2ms/step - loss: 0.7466 - accuracy: 0.7089
Epoch 5/75
804/804 [==============================] - 2s 2ms/step - loss: 0.7333 - accuracy: 0.7145
Epoch 6/75
804/804 [==============================] - 2s 2ms/step - loss: 0.7260 - accuracy: 0.7129
Epoch 7/75
804/804 [==============================] - 2s 2ms/step - loss: 0.7226 - accuracy: 0.7177
Epoch 8/75
804/804 [==============================] - 2s 2ms/step - loss: 0.8008 - accuracy: 0.6876
Epoch 9/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6471 - accuracy: 0.7213
Epoch 10/75
804/804 [==============================] - 2s 2ms/step - loss: 0.7124 - accuracy: 0.7096
Epoch 11/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6413 - accuracy: 0.7203
Epoch 12/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6317 - accuracy: 0.7279
Epoch 13/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6312 - accuracy: 0.7213
Epoch 14/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6115 - accuracy: 0.7276
Epoch 15/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6158 - accuracy: 0.7273
Epoch 16/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6088 - accuracy: 0.7293
Epoch 17/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6067 - accuracy: 0.7285
Epoch 18/75
804/804 [==============================] - 2s 2ms/step - loss: 1.0519 - accuracy: 0.6755
Epoch 19/75
804/804 [==============================] - 2s 3ms/step - loss: 0.6176 - accuracy: 0.7274
Epoch 20/75
804/804 [==============================] - 2s 3ms/step - loss: 0.6757 - accuracy: 0.7094
Epoch 21/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6066 - accuracy: 0.7289
Epoch 22/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6007 - accuracy: 0.7303
Epoch 23/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6004 - accuracy: 0.7286
Epoch 24/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6055 - accuracy: 0.7293
Epoch 25/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5962 - accuracy: 0.7287
Epoch 26/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6258 - accuracy: 0.7131
Epoch 27/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6031 - accuracy: 0.7219
Epoch 28/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5740 - accuracy: 0.7305
Epoch 29/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6285 - accuracy: 0.7154
Epoch 30/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5692 - accuracy: 0.7308
Epoch 31/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5777 - accuracy: 0.7317
Epoch 32/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5735 - accuracy: 0.7322
Epoch 33/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5929 - accuracy: 0.7227
Epoch 34/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5687 - accuracy: 0.7326
Epoch 35/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5725 - accuracy: 0.7314
Epoch 36/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6202 - accuracy: 0.7158
Epoch 37/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5804 - accuracy: 0.7276
Epoch 38/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5788 - accuracy: 0.7318
Epoch 39/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5663 - accuracy: 0.7322
Epoch 40/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5654 - accuracy: 0.7318
Epoch 41/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6776 - accuracy: 0.7088
Epoch 42/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6233 - accuracy: 0.7194
Epoch 43/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5728 - accuracy: 0.7296
Epoch 44/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5657 - accuracy: 0.7300
Epoch 45/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5631 - accuracy: 0.7319
Epoch 46/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5620 - accuracy: 0.7322
Epoch 47/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5660 - accuracy: 0.7331
Epoch 48/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5658 - accuracy: 0.7331
Epoch 49/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5838 - accuracy: 0.7273
Epoch 50/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5715 - accuracy: 0.7296
Epoch 51/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5643 - accuracy: 0.7317
Epoch 52/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5644 - accuracy: 0.7333
Epoch 53/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6490 - accuracy: 0.7160
Epoch 54/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5851 - accuracy: 0.7300
Epoch 55/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5714 - accuracy: 0.7320
Epoch 56/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5689 - accuracy: 0.7320
Epoch 57/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5654 - accuracy: 0.7322
Epoch 58/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5585 - accuracy: 0.7331
Epoch 59/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6442 - accuracy: 0.7092
Epoch 60/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5971 - accuracy: 0.7095
Epoch 61/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5650 - accuracy: 0.7336
Epoch 62/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5606 - accuracy: 0.7340
Epoch 63/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5604 - accuracy: 0.7341
Epoch 64/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7341
Epoch 65/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5577 - accuracy: 0.7334
Epoch 66/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5633 - accuracy: 0.7328
Epoch 67/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5639 - accuracy: 0.7319
Epoch 68/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5625 - accuracy: 0.7319
Epoch 69/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5581 - accuracy: 0.7320
Epoch 70/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5757 - accuracy: 0.7319
Epoch 71/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5610 - accuracy: 0.7329
Epoch 72/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5707 - accuracy: 0.7286
Epoch 73/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5632 - accuracy: 0.7308
Epoch 74/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7342
Epoch 75/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7344

#### Alternative Model 2

In [91]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [92]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 7

In [93]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features+number_output_neurons_A2) //2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

61

In [94]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [95]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Output layer
nn_A2.add(Dense(1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 58)                6786

 dense_15 (Dense)            (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [96]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [97]:
# Fit the model
fit_model_A2 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5614 - accuracy: 0.7342
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5604 - accuracy: 0.7339
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5608 - accuracy: 0.7334
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5637 - accuracy: 0.7318
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7341
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7337
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5725 - accuracy: 0.7282
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5578 - accuracy: 0.7348
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5682 - accuracy: 0.7346
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5587 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5580 - accuracy: 0.7354
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5574 - accuracy: 0.7343
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5587 - accuracy: 0.7323
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7497 - accuracy: 0.6918
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5635 - accuracy: 0.7176
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7330
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7354
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7343
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7346
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9688 - accuracy: 0.6377
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6172 - accuracy: 0.6256
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5862 - accuracy: 0.7105
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5710 - accuracy: 0.7188
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5602 - accuracy: 0.7285
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7338
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7345
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7337
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7355
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7345
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7356
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7367
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7345
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7331
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7343
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7345
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7341
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7352
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7357
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7328
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7342
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7364
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7353
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7362
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7359
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7365
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5606 - accuracy: 0.7307
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7358
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7362
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7362
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7353

### After finishing our models, display the accuracy scores achieved by each model, and compare the results.

In [98]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5515 - accuracy: 0.7300 - 390ms/epoch - 1ms/step
Loss: 0.5515128374099731, Accuracy: 0.7300291657447815

In [99]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5634 - accuracy: 0.7306 - 488ms/epoch - 2ms/step
Loss: 0.5633624792098999, Accuracy: 0.7306122183799744

In [100]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.6689 - accuracy: 0.6500 - 537ms/epoch - 2ms/step
Loss: 0.6689457297325134, Accuracy: 0.650029182434082

### Save each of your alternative models as an HDF5 file.

In [101]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [102]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)